      </article>
    </div>
  </div>
</main>
<footer class="d-flex justify-content-between bg-dark">
  <img src="img/csumb-logo-white-trans.png" alt="csumb logo">
  <div class="text-white" id="footer-txt">
    CST336 Internet Programming. 2021&copy; Shum
    <br /><strong>Disclaimer</strong>: This website is a fictional student
    project and should only be used for academic purposes.
  </div>
</footer>