<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solar System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header class="p-5 bg-dark text-light"><h1>The Solar System</h1></header>
  <main class="container-fluid" id="page-layout">
    <div id="content" class="row d-flex align-items-stretch">
      <div class="col-2 border">
        <nav class="navbar d-flex flex-column">
          <a id="l-" class="nav-link" href="/">Home</a>
          <a id="l-sun" class="nav-link" href="/sun">Sun</a>
          <a id="l-mercury" class="nav-link" href="/mercury">Mercury</a>
          <a id="l-venus" class="nav-link" href="/venus">Venus</a>
          <a id="l-earth" class="nav-link" href="/earth">Earth</a>
          <a id="l-mars" class="nav-link" href="/mars">Mars</a>
        </nav>
      </div>
      <div class="col">
        <article id="content">