<main class="container-fluid" id="page-layout">
  <div id="content" class="row d-flex align-items-stretch">
    <div class="col-2">
      <nav class="navbar d-flex flex-column">
        <a id="l-" class="nav-link" href="/">Home</a>
        <a id="l-sun" class="nav-link" href="/sun">Sun</a>
        <a id="l-mercury" class="nav-link" href="/mercury">Mercury</a>
        <a id="l-venus" class="nav-link" href="/venus">Venus</a>
        <a id="l-earth" class="nav-link" href="/earth">Earth</a>
        <a id="l-mars" class="nav-link" href="/mars">Mars</a>
      </nav>
    </div>
    <div class="col">
      <article id="content">