<%- include('partials/header.ejs') %>

  <h1>Earth</h1>
  <hr>
  <br><img src="<%= earthUrl %>" alt="Image of the Earth"><br><br>
  <p>Earth is the planet that we know best in the Solar System, being the one that we inhabit. It is the third planet orbiting the sun, with each day lasting 24 hours and each year lasting 365 days. The Earth inhabits the “Goldilocks zone” in which its distance from the Sun allows for liquid water to form and persist on its surface.</p>
  <p>Source: <a href="https://www.space.com/54-earth-history-composition-and-atmosphere.html"> space.com</a></p>

<%- include('partials/footer.ejs') %>