<%- include('partials/header.ejs') %>

<h1>The Sun</h1>
<hr />
<br /><img src="img/sun.jpg" alt="Image of the Sun" /><br /><br />
<p>
  The Sun is the star at the center of the Solar System, which all planets
  revolve around. The Sun is 330 thousand times larger than the Earth, with
  two-thirds of its mass being composed of hydrogen and one-third composed of
  helium. It generates sunlight through the fusion of hydrogen into helium.
</p>
<p>Source: <a href="https://en.wikipedia.org/wiki/Sun"> Wikipedia </a></p>

<%- include('partials/footer.ejs') %>
